set timeout=5
set default="0"
set menu_auto_hide=false

function load_video {
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod chain

search --no-floppy --set=root -l 'tartaria_boot'

menuentry 'Tartaria Live ISO' {
  linux ($root)/boot/vmlinuz quiet rhgb root=live:CDLABEL=tartaria_boot enforcing=0 rd.live.image
  initrd ($root)/boot/initramfs.img
}
